<!DOCTYPE html>
<html lang="en">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/style2.css">
<meta http-equiv="Content-Security-Policy"
	content="default-src 'self'; 
		    script-src 'self' https://www.gstatic.com/; 
		    style-src 'self' https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css;
		    font-src 'self';
		    form-action 'self';
		 ">
<link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/register.css">
</head>

<body>
	<section>
		<img class="bg-image background" src="../images/ALOHCMUTE.png"></img>
		<div class="container">
			<div class="col-lg-8">
				<div class="big-ad">
					<figure class="logo-container">
						<img src="photo/LogoHCMUTE.png" alt="" class="logo">
					</figure>
					<h1>Welcome to ALOHCMUTE</h1>
					<p>ALOHCMUTE là một trang web dành riêng cho sinh viên Trường
						Đại học Sư Phạm Kỹ Thuật. Mục đích của trang web là kết nối và hỗ
						trợ sinh viên trong nhiều lĩnh vực khác nhau. Trang web này cho
						phép sinh viên tìm kiếm việc làm, tạo kết nối xã hội, đăng bài
						viết và viết blog, cùng với nhiều tính năng khác. Hãy tham gia
						ngay để kết nối và tham gia vào cộng đồng sinh viên sôi động này
						nhé!</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="we-login-register">
					<div class="form-title paddingBottom">Đăng ký</div>
					<div th:if="${param.success}">
						<div class="alert alert-info">Login successful</div>
					</div>
					<div th:if="${param.pass}">
						<div class="alert alert-info">Confirm Password is not correct</div>
					</div>
					<div th:if="${param.emailexist}">
						<div class="alert alert-info">Email is exist</div>
					</div>
					<div th:if="${param.phone}">
						<div class="alert alert-info">Phone is exist</div>
					</div>
					<form class="we-form" th:action="@{/registerOrFail}" method="post">

					<input type="hidden" name="csrfToken" th:value="${csrfToken}" />
					
						<input type="text" placeholder="Email" name="email"> <input
							type="password" placeholder="Password" name="pass"> <input
							type="password" placeholder="Confirm Password" name="checkPass">
						<input type="text" placeholder="Name" name="userName"> <input
							type="text" placeholder="Full name" name="fullName"> <input
							type="text" placeholder="Phone" name="phoneNumber"> <label
							for="form2Example2">Ảnh đại diện</label> <input type="text"
							name="avata" id="form2Example2" class="form-control" hidden />
						<div id="imageContainer"></div>
						<input type="file" id="file"> <input type="text"
							placeholder="Address" name="address"> <input type="date"
							placeholder="Date of birth" name="dateOfBirth">
						<button type="submit" data-ripple class="submit">Đăng ký</button>
					</form>
					<span>Bạn có tài khoản rồi?<a class="we-account underline" a
						href="/login" title="">Hãy nhập ngay nhé!</a></span>
				</div>
			</div>
		</div>
	</section>
		<script src="../js/uploadImage.js" type="module"></script>
</body>

</html>