<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>SendEmail</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/verify.css">
<meta http-equiv="Content-Security-Policy"
	content="default-src 'self'; 
    script-src 'self'; 
    style-src 'self' https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css;
    font-src 'self' https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/;
    form-action 'self';
    ">
</head>

<body>
	<div class="container">
		<h2>Send Email Form</h2>

		<div th:if="${param.success}" class="alert alert-info">
			Register successful. <a href="/login">Login</a>
		</div>

		<div th:if="${param.fail}" class="alert alert-danger">Register
			fail</div>

		<form action="verifyCode" method="post" enctype="multipart/form-data"
			modelAttribute="status">
			<div class="form-group">
				<label for="code">Nhập code của bạn tại đây:</label> <input
					type="number" class="form-control" id="code" name="code"
					placeholder="Code" required />
			</div>
			<button type="submit" class="btn btn-primary btn-block">Send</button>
		</form>
	</div>
</body>

</html>